// Colores de las secciones
// Proteínas
$proteinasPrimario: #b95ea4;
$proteinasSecundario: #6e2b5f;

// Frutas
$frutasPrimario: #99ad43;
$frutasSecundario: #55632a;

// Grasas
$grasasPrimario: #e5cb33;
$grasasSecundario: #94842a;

// Carbohidratos
$carbohidratosPrimario: #eba037;
$carbohidratosSecundario: #956523;

// Calcio
$calcioPrimario: #2e88c8;
$calcioSecundario: #0b5680;

// Dulce
$dulcePrimario: #36ad72;
$dulceSecundario: #086137;

// Hidratación
$hidratacionPrimario: #d35b32;
$hidratacionSecundario: #ad3c1e;

// Color de links
$linkColor: #fff;

// Botones de navegación entre slides
$slidesBtn: #3f3d3f;
$slidesBtnColor: #666;

// Globo de información
$balloonInfo: #faf090;
$balloonTxt: #1d1d1b;

// Color de fondo del footer
$footerBgColor: #08adc1;
$footerColor: #fff;

// Color de botones en menú
$menuBtn: #08adc1;

// Color de títulos en desktop
$tituloDsktpColor: #3f3d3f;

// Color de los beans para navegar entre slides
$slidesBeans: #999999;

// Color del botón cerrar instrucciones
$cerrarInstrucciones: #3f3d3f;

// Color de los botones de la sección Conoce más
$conoceMasBtn: #761f65;

// Color separador en Conoce más
$separadorConoceMas: #3f3d3f;