// Colores de las secciones
// Proteínas
$proteinasPrimario: #b75fa1;
$proteinasSecundario: #6e2c5f;

// Frutas
$frutasPrimario: #36ad72;
$frutasSecundario: #0b6238;

// Vegetales
$vegetalesPrimario: #99ad43;
$vegetalesSecundario: #0b6238;

// Grasas
$grasasPrimario: #e5cb33;
$grasasSecundario: #7d6e23;

// Carbohidratos
$carbohidratosPrimario: #eba037;
$carbohidratosSecundario: #7b4e18;

// Calcio
$calcioPrimario: #2e88c8;
$calcioSecundario: #1e3158;

// Dulce
$dulcePrimario: #6ac9f3;
$dulceSecundario: #3089ca;

// Hidratación
$hidratacionPrimario: #d35b32;
$hidratacionSecundario: #b72b18;

// Color de links
$linkColor: #fff;

// Botones de navegación entre slides
$slidesBtn: #3f3d3f;
$slidesBtnColor: #666;

// Globo de información
$balloonInfo: #faf090;
$balloonTxt: #1d1d1b;

// Color de fondo del footer
$footerBgColor: #08adc1;
$footerColor: #fff;

// Color de botones en menú
$menuBtn: #08adc1;

// Color de títulos en desktop
$tituloDsktpColor: #3f3d3f;

// Color de los beans para navegar entre slides
$slidesBeans: #999999;

// Color del botón cerrar instrucciones
$cerrarInstrucciones: #3f3d3f;

// Color de los botones de la sección Conoce más
$conoceMasBtn: #761f65;

// Color separador en Conoce más
$separadorConoceMas: #3f3d3f;