@media (min-width: 992px) {
    #portada {
        padding-top: 0 !important;
    }

    .section {
        .fp-slidesNav-custom:after {
            width: 16%;
        }
    }

    footer {
        .list-inline {
            .list-inline-item {
                img {
                    width: 56px;
                }
            }
        }
    }
}