@media (min-width: 992px) {
    #portada {
        padding-top: 0 !important;
    }

    #learn-more {
        img {
            max-width: 40%;
        }
    }

    .section {
        h1,
        h2 {
            display: inline-block;
            font-size: 2.3rem;
        }

        h1 {
            text-transform: uppercase;
            font-weight: 800;
            color: $tituloDsktpColor;
        }

        .fp-slidesNav-custom {
            top: 25px;

            .btn {
                font-size: 1.50rem;
            }
        }

        .fp-slidesNav-custom:after {
            width: 19%;
        }
    }

    #pagina-1,
    #pagina-2,
    #pagina-3,
    #pagina-4,
    #pagina-5,
    #pagina-6,
    #pagina-7,
    #pagina-8 {
        padding-top: 0 !important;
    }

    footer {
        .list-inline {
            .list-inline-item {
                img {
                    width: 56px;
                }
            }
        }
    }
}