@media all and (max-width: 991.98px) and (orientation:landscape) {
    body {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .msge {
            display: block;
            color: #000;
            position: relative;
            z-index: 9999;
        }
    }

    body > *,
    .navbar {
        display: none;
    }
}

// iPad Normal
@media only screen and (device-width: 1024px) and (orientation:landscape) {
    body {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .msge {
            display: block;
            color: #000;
            position: relative;
            z-index: 9999;
        }
    }

    body > *,
    .navbar {
        display: none;
    }
}

// iPad Pro
@media only screen and (device-width: 1366px) and (orientation:landscape) {
    body {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .msge {
            display: block;
            color: #000;
            position: relative;
            z-index: 9999;
        }
    }

    body > *,
    .navbar {
        display: none;
    }
}