@font-face {
    font-family: 'Amatic-Bold';
    src: url('../fonts/Amatic-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Amatic-Bold.woff') format('woff'), url('../fonts/Amatic-Bold.ttf')  format('truetype'), url('../fonts/Amatic-Bold.svg#Amatic-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}