@import "fonts";
@import "colors";

html {
    height: 100%;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
    background: linear-gradient(to bottom, #bff2ff 0%, #fdffff 100%);
    
    .msge {
        display: none;
    }
}

button:focus {
    outline: none;
}

h1,
h2,
h3 {

}

.montserrat-strong {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar {
    background-color: #4d4d4d;
    color: #fff;
    padding: .1rem 1rem;
    text-transform: uppercase;

    a {
        color: #fff !important;
    }

    .navbar-brand {
        font-size: 1rem;

        strong {
            font-family: 'Montserrat Alternates', sans-serif;
            font-weight: 600;
        }
    }

    .navbar-toggler {
        padding: .25rem 0rem;
    }
}

.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active {
    background-color: #fee829;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #3f3d3f;
    border: none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='4' stroke-linecap='square' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.custom-toggler.navbar-toggler {
    border-color: #4d4d4d;
} 

/* Ocultamos navegación en pantallas donde no la necesitamos */
body.fp-viewing-inicio #fp-nav,
body.fp-viewing-instrucciones-0 #fp-nav,
body.fp-viewing-instrucciones-1 #fp-nav,
body.fp-viewing-instrucciones-2 #fp-nav,
body.fp-viewing-menu-0 #fp-nav,
body.fp-viewing-conoce-mas-0 #fp-nav {
    display: none;
}

/* Ocultamos beans de portada, instrucciones, menú y conoce más */
#fp-nav ul li:first-child,
#fp-nav ul li:nth-child(2),
#fp-nav ul li:nth-child(3),
#fp-nav ul li:last-child {
    display: none;
}

/* Estilos del los beans de los slides  */
/* Activo */
// .fp-slidesNav ul li a.active span,
// .fp-slidesNav ul li:hover a.active span {
    // height: 14px;
    // width: 14px;
    // margin: -6px 0 0 -4px;
// }

/* No activo */
// #fp-nav ul li a span,
// .fp-slidesNav ul li a span {
//     background-color: transparent;
//     border: 2px solid $slidesBeans;
//     width: 12px;
//     height: 12px;
//     margin: -6px 0 0 -6px;
// }

#portada {
    width: 100% !important;
    float: left;
    padding-top: 15px !important;
    padding-bottom: 0 !important;
    position: relative;
    z-index: 10;

    .container-fluid {
        height: 100%;
    }

    .contenedor-circulo {
        a,
        a:hover,
        a:active,
        a:visited
        a:focus {
            text-decoration: none;
            color: #fff;
        }

        .elemento {
            position: absolute;
            opacity: 0;
            z-index: 1;
        }

        #circulo,
        #btn-comenzar,
        #btn-saltar  {
            position: relative;
            z-index: 10;
            opacity: 0;
        }

        #btn-comenzar,
        #btn-saltar {
            background-color: $menuBtn;
            text-transform: uppercase;
            font-weight: 600;
            --box-shadow-color: #106a74;
            box-shadow: 0px 10px 0px var(--box-shadow-color);
            position: relative;
            top: 0;
            transition: all ease 0.3s;
        }

        #btn-comenzar:hover,
        #btn-saltar:hover,
        #btn-comenzar:focus,
        #btn-saltar:focus {
            box-shadow: 0px 5px 0px var(--box-shadow-color);
            top: 5px;
        }

        .list-unstyled {
            margin-bottom: 0;

            li {
                a {
                    display: block;
                }
            }
        }
        
        #queso {
            top: -12%;
            right: 22%;
        }
        
        #miel {
            top: 3%;
            left: 4%;
        }
        
        #banana {
            top: 12%;
            right: 18%;
        }
        
        #pan {
            top: 23%;
            left: 14%;
        }
        
        #brocoli {
            left: 30%;
            top: 50%;
        }
        
        #pescado {
            top: 58%;
            right: 21%;
            width: 32%;
        }
    }

    #mano {
        opacity: 0;
        width: 100%;
    }
}

#intro-id,
#menu-id {
    width: 100%;
    float: left;
    padding-top: 0 !important;
}

#intro-id {
    h1 {
        // opacity: 0;
        font-size: 1.5rem;
    }

    a {
        text-transform: uppercase;
        font-weight: 600;
    }

    a,
    a:hover,
    a:active,
    a:visited
    a:focus {
        text-decoration: none;
        color: #fff;
    }

    .btn-primary {
        background-color: $menuBtn;
    }

    .fp-slidesNav.bottom {
        width: 100%;
        background-color: rgba(240, 240, 240, 0.9);
        bottom: 0px;
        padding: 10px 0 4px;
    }

    .punto {
        color: #fff;
    }

    .slide-2 {
        .bloque-1 {
            img {
                max-width: 60%;
            }
        }

        .bloque-2 {
            img {
                max-width: 25%;
            }
        }

        .bloque-3 {
            img {
                max-width: 25%;
            }
        }
    }

    #trademark {
        position: relative;
        top: -6px;
    }
}

#menu-id {
    h1,
    a {
        text-transform: uppercase;
        font-weight: 600;
    }

    a,
    a:hover,
    a:active,
    a:visited
    a:focus {
        text-decoration: none;
        color: #fff;
    }

    .btn-primary {
        background-color: $menuBtn;
    }
}

.section {
    width: 100% !important;
    float: left;
    position: relative;

    a,
    a:active,
    a:hover,
    a:focus,
    a:visited {
        color: $linkColor;
        text-decoration: underline;
    }

    hr {
        background-color: #fff;
        width: 100%;
    }

    h1,
    h2 {
        display: inline-block;
    }

    h1 {
        text-transform: uppercase;
        font-weight: 800;
        color: $tituloDsktpColor;
    }

    h2 {
        font-family: 'Playfair Display', serif;
    }

    .btn-primary {
        border-radius: 1.25rem;
        border: none;
    }

    .btn-primary.focus,
    .btn-primary:focus {
        box-shadow: 0 0 0 0;
    }

    .buttons-container {
        position: fixed;
        width: 100%;
        top: 54px;
        left: 0 !important;
        z-index: 4;
        padding: 0 15px;
    }

    .dropdown {
        position: relative;
        z-index: 4;
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        margin: 0 auto 8px !important; 
        width: 100%;
        float: left;

        .dropdown-item {
            color: #212529;
            text-decoration: none;
        }
    }

    #dropdown1,
    #dropdown2,
    #dropdown3,
    #dropdown4,
    #dropdown5,
    #dropdown6,
    #dropdown7,
    #dropdown8 {
        width: 100%;
        position: relative;
    }
    
    #dropdown1::after,
    #dropdown2:after,
    #dropdown3:after,
    #dropdown4:after,
    #dropdown5:after,
    #dropdown6:after,
    #dropdown7:after,
    #dropdown8:after {
        position: absolute;
        right: 16px;
        top: 16px;
    }

    .info {
        background-color: $balloonInfo;
        color: $balloonTxt;
        width: 100%;
        float: left;
        margin: 15px 0;
        padding: 18px;
        border-radius: 0px 8px 8px 0px;
        position: relative;

        p {
            margin-bottom: 0rem;
        }

        svg {
            width: 200px;
            margin: 0 auto;
            fill-opacity: 0;
            transition: fill-opacity 1s;
        }
  
        svg.finished * {
            fill-opacity: 1;
        }
    }

    .info::before {
        bottom: 100%;
        left: 0;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(250, 240, 144, 0);
        border-bottom-color: #faf090;
        border-width: 26px;
        border-left: 0;
        border-right-width: 14px;
    }

    .fp-slidesNav {
        text-align: center;
    }

    .fp-slidesNav-custom {
        position: relative;
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
        ul {
            margin: 0;
            padding: 0;
        }

        .btn {
            background-color: $slidesBtn;
            border: none;
            color: $slidesBtnColor;
            position: relative;
            z-index: 2;
            border-radius: 50%;
        }
    }

    .fp-slidesNav-custom:after {
        position: absolute;
        left: 50%;
        content: "";
        width: 58%;
        height: 4px;
        background-color: #fff;
        transform: translate(-50%,-50%);
        border-radius: 1.25rem;
        z-index: 1;
    }

    .slide {
        h5 {
            font-weight: 600;
        }
    }
    
    // .fp-slidesNav-custom.bottom {
    //     bottom: 17px;
    // }
}

#pagina-1,
#pagina-2,
#pagina-3,
#pagina-4,
#pagina-5,
#pagina-6,
#pagina-7,
#pagina-8 {
    color: #fff;

    .dropdown-toggle {
        text-transform: uppercase;
        font-weight: 600;
    }
}

#pagina-1 {
    background-color: $proteinasPrimario;

    .punto {
        color: $proteinasPrimario;
    }

    .dropdown-toggle {
        background-color: $proteinasSecundario;
    }
}

#pagina-2 {
    background-color: $frutasPrimario;

    .punto {
        color: $frutasPrimario;
    }

    .dropdown-toggle {
        background-color: $frutasSecundario;
    }
}

#pagina-3 {
    background-color: $grasasPrimario;

    .punto {
        color: $grasasPrimario;
    }

    .dropdown-toggle {
        background-color: $grasasSecundario;
    }
}

#pagina-4 {
    background-color: $carbohidratosPrimario;

    .punto {
        color: $carbohidratosPrimario;
    }

    .dropdown-toggle {
        background-color: $carbohidratosSecundario;
    }
}

#pagina-5 {
    background-color: $calcioPrimario;

    .punto {
        color: $calcioPrimario;
    }

    .dropdown-toggle {
        background-color: $calcioSecundario;
    }
}

#pagina-6 {
    background-color: $dulcePrimario;

    .punto {
        color: $dulcePrimario;
    }

    .dropdown-toggle {
        background-color: $dulceSecundario;
    }
}

#pagina-7 {
    background-color: $hidratacionPrimario;

    .punto {
        color: $hidratacionPrimario;
    }

    .dropdown-toggle {
        background-color: $hidratacionSecundario;
    }
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: $footerBgColor;
    color: $footerColor;
    width: 100%;
    padding: 8px 0;
    z-index: 1;

    .media {
        img {
            max-width: 30px;
        }

        .media-body {
            h5 {
                margin-bottom: 0;
            }
        }
    }

    .list-inline {
        margin-bottom: 0;
        
        .list-inline-item {
            img {
                width: 38px;
            }
        }
    }
}

@import "deviceRotate";
@import "tablet";
@import "desktop";
@import "desktop-xl";