@import "fonts";
@import "colors";

html {
    height: 100%;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
    background: linear-gradient(to bottom, #bff2ff 0%, #fdffff 100%);
    
    .msge {
        display: none;
    }
}

button:focus {
    outline: none;
}

h1,
h2,
h3 {

}

.navbar {
    background-color: #4d4d4d;
    color: #fff;
    padding: .1rem 1rem;
    text-transform: uppercase;

    a {
        color: #fff !important;
    }

    .navbar-brand {
        font-size: 1rem;

        strong {
            font-family: 'Montserrat Alternates', sans-serif;
            font-weight: 600;
        }
    }

    .navbar-toggler {
        padding: .25rem 0rem;
    }
}

.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active {
    background-color: #fee829;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #3f3d3f;
    border: none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='4' stroke-linecap='square' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.custom-toggler.navbar-toggler {
    border-color: #4d4d4d;
  } 

#portada {
    .container-fluid {
        height: 100%;
    }

    .circulo,
    .mano {
        width: 100%;
        float: left;
    }

    .contenedor-circulo {
        margin-bottom: 50px;

        .elemento {
            position: absolute;
            opacity: 0;
            z-index: 1;
        }

        #porciones {
            position: relative;
            z-index: 2;
            opacity: 0;
        }
        
        #queso {
            top: -12%;
            right: 22%;
        }
        
        #miel {
            top: 3%;
            left: 4%;
        }
        
        #banana {
            top: 12%;
            right: 18%;
        }
        
        #pan {
            top: 23%;
            left: 14%;
        }
        
        #brocoli {
            left: 30%;
            top: 50%;
        }
        
        #pescado {
            top: 58%;
            right: 21%;
            width: 32%;
        }
    }

    .mano {
        #mano {
            opacity: 0;
        }
    }
}

.section {
    position: relative;

    .btn-primary {
        border-radius: 1.25rem;
        border: none;
    }

    .btn-primary.focus,
    .btn-primary:focus {
        box-shadow: 0 0 0 0;
    }

    .buttons-container {
        position: absolute;
        width: 100%;
        left: 0 !important;
        z-index: 4;
        padding: 0 15px;
    }

    .dropdown {
        position: relative;
        z-index: 4;
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        margin: 0 auto 8px !important; 
        width: 100%;
        float: left;
    }

    // .dropdown.top {
    //     top: 56px;
    // }

    #dropdown1,
    #dropdown2,
    #dropdown3,
    #dropdown4,
    #dropdown5,
    #dropdown6,
    #dropdown7,
    #dropdown8 {
        width: 100%;
        position: relative;
    }
    
    #dropdown1::after,
    #dropdown2:after,
    #dropdown3:after,
    #dropdown4:after,
    #dropdown5:after,
    #dropdown6:after,
    #dropdown7:after,
    #dropdown8:after {
        position: absolute;
        right: 16px;
        top: 16px;
    }

    .info {
        background-color: $balloonInfo;
        color: $balloonTxt;
        width: 100%;
        float: left;
        margin: 15px 0;
        padding: 30px;

       svg {
            width: 200px;
            margin: 0 auto;
            fill-opacity: 0;
            transition: fill-opacity 1s;
        }
  
        svg.finished * {
            fill-opacity: 1;
        }
    }

    .fp-slidesNav-custom {
        position: relative;
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
        ul {
            margin: 0;
            padding: 0;
        }

        .btn {
            background-color: $slidesBtn;
            border: none;
            color: $slidesBtnColor;
            position: relative;
            z-index: 2;
            border-radius: 50%;
        }
    }

    .fp-slidesNav-custom:after {
        position: absolute;
        left: 50%;
        content: "";
        width: 58%;
        height: 4px;
        background-color: #fff;
        transform: translate(-50%,-50%);
        border-radius: 1.25rem;
        z-index: 1;
    }
    
    // .fp-slidesNav-custom.bottom {
    //     bottom: 17px;
    // }
}

#pagina-1,
#pagina-2,
#pagina-3,
#pagina-4,
#pagina-5,
#pagina-6,
#pagina-7,
#pagina-8 {
    color: #fff;

    .dropdown-toggle {
        text-transform: uppercase;
    }
}

#pagina-1 {
    background-color: $proteinasPrimario;

    .dropdown-toggle {
        background-color: $proteinasSecundario;
    }
}

#pagina-2 {
    background-color: $frutasPrimario;

    .dropdown-toggle {
        background-color: $frutasSecundario;
    }
}

#pagina-3 {
    background-color: $grasasPrimario;

    .dropdown-toggle {
        background-color: $grasasSecundario;
    }
}

#pagina-4 {
    background-color: $carbohidratosPrimario;

    .dropdown-toggle {
        background-color: $carbohidratosSecundario;
    }
}

#pagina-5 {
    background-color: $calcioPrimario;

    .dropdown-toggle {
        background-color: $calcioSecundario;
    }
}

#pagina-6 {
    background-color: $dulcePrimario;

    .dropdown-toggle {
        background-color: $dulceSecundario;
    }
}

#pagina-7 {
    background-color: $hidratacionPrimario;

    .dropdown-toggle {
        background-color: $hidratacionSecundario;
    }
}

@media all and (max-width: 991.98px) and (orientation:landscape) {
    body {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .msge {
            display: block;
            color: #000;
            position: relative;
            z-index: 9999;
        }
    }

    body > *,
    .navbar {
        display: none;
    }
}

// iPad Normal
@media only screen and (device-width: 1024px) and (orientation:landscape) {
    body {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .msge {
            display: block;
            color: #000;
            position: relative;
            z-index: 9999;
        }
    }

    body > *,
    .navbar {
        display: none;
    }
}

// iPad Pro
@media only screen and (device-width: 1366px) and (orientation:landscape) {
    body {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .msge {
            display: block;
            color: #000;
            position: relative;
            z-index: 9999;
        }
    }

    body > *,
    .navbar {
        display: none;
    }
}