@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,600|Playfair+Display:700");
@font-face {
  font-family: 'FuturaPT-Light';
  src: url("../fonts/FuturaPT-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Light.otf") format("opentype"), url("../fonts/FuturaPT-Light.woff") format("woff"), url("../fonts/FuturaPT-Light.ttf") format("truetype"), url("../fonts/FuturaPT-Light.svg#FuturaPT-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FuturaPT-Medium';
  src: url("../fonts/FuturaPT-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Medium.otf") format("opentype"), url("../fonts/FuturaPT-Medium.woff") format("woff"), url("../fonts/FuturaPT-Medium.ttf") format("truetype"), url("../fonts/FuturaPT-Medium.svg#FuturaPT-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  height: 100%; }

body {
  font-family: 'Montserrat Alternates', sans-serif;
  background: linear-gradient(to bottom, #bff2ff 0%, #fdffff 100%); }
  body .msge {
    display: none; }

button:focus {
  outline: none; }

.montserrat-strong {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 600;
  text-transform: uppercase; }

.navbar {
  background-color: #4d4d4d;
  color: #fff;
  padding: .1rem 1rem;
  text-transform: uppercase; }
  .navbar a {
    color: #fff !important; }
  .navbar .navbar-brand {
    font-size: 1rem; }
    .navbar .navbar-brand strong {
      font-family: 'Montserrat Alternates', sans-serif;
      font-weight: 600; }
  .navbar .navbar-toggler {
    padding: .25rem 0rem; }

.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active {
  background-color: #fee829; }

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #3f3d3f;
  border: none; }

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0; }

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='4' stroke-linecap='square' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.custom-toggler.navbar-toggler {
  border-color: #4d4d4d; }

/* Ocultamos navegación en pantallas donde no la necesitamos */
body.fp-viewing-inicio #fp-nav,
body.fp-viewing-instrucciones-0 #fp-nav,
body.fp-viewing-menu-0 #fp-nav,
body.fp-viewing-conoce-mas-0 #fp-nav {
  display: none; }

/* Ocultamos beans de portada, instrucciones, menú y conoce más */
#fp-nav ul li:first-child,
#fp-nav ul li:nth-child(2),
#fp-nav ul li:nth-child(3),
#fp-nav ul li:last-child {
  display: none; }

#portada {
  width: 100% !important;
  float: left;
  padding-top: 15px !important; }
  #portada .container-fluid {
    height: 100%; }
  #portada .contenedor-circulo .elemento {
    position: absolute;
    opacity: 0;
    z-index: 1; }
  #portada .contenedor-circulo #circulo,
  #portada .contenedor-circulo #btn-comenzar,
  #portada .contenedor-circulo #btn-saltar {
    position: relative;
    z-index: 10;
    opacity: 0; }
  #portada .contenedor-circulo .list-unstyled {
    margin-bottom: 0; }
    #portada .contenedor-circulo .list-unstyled li a {
      display: block; }
  #portada .contenedor-circulo #queso {
    top: -12%;
    right: 22%; }
  #portada .contenedor-circulo #miel {
    top: 3%;
    left: 4%; }
  #portada .contenedor-circulo #banana {
    top: 12%;
    right: 18%; }
  #portada .contenedor-circulo #pan {
    top: 23%;
    left: 14%; }
  #portada .contenedor-circulo #brocoli {
    left: 30%;
    top: 50%; }
  #portada .contenedor-circulo #pescado {
    top: 58%;
    right: 21%;
    width: 32%; }
  #portada #mano {
    opacity: 0; }

.section {
  width: 100% !important;
  float: left;
  position: relative; }
  .section a,
  .section a:active,
  .section a:hover,
  .section a:focus,
  .section a:visited {
    color: #fff;
    text-decoration: underline; }
  .section .btn-primary {
    border-radius: 1.25rem;
    border: none; }
  .section .btn-primary.focus,
  .section .btn-primary:focus {
    box-shadow: 0 0 0 0; }
  .section .buttons-container {
    position: absolute;
    width: 100%;
    top: 54px;
    left: 0 !important;
    z-index: 4;
    padding: 0 15px; }
  .section .dropdown {
    position: relative;
    z-index: 4;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    margin: 0 auto 8px !important;
    width: 100%;
    float: left; }
    .section .dropdown .dropdown-item {
      color: #212529;
      text-decoration: none; }
  .section #dropdown1,
  .section #dropdown2,
  .section #dropdown3,
  .section #dropdown4,
  .section #dropdown5,
  .section #dropdown6,
  .section #dropdown7,
  .section #dropdown8 {
    width: 100%;
    position: relative; }
  .section #dropdown1::after,
  .section #dropdown2:after,
  .section #dropdown3:after,
  .section #dropdown4:after,
  .section #dropdown5:after,
  .section #dropdown6:after,
  .section #dropdown7:after,
  .section #dropdown8:after {
    position: absolute;
    right: 16px;
    top: 16px; }
  .section .info {
    background-color: #faf090;
    color: #1d1d1b;
    width: 100%;
    float: left;
    margin: 15px 0;
    padding: 18px;
    border-radius: 0px 8px 8px 0px;
    position: relative; }
    .section .info p {
      margin-bottom: 0rem; }
    .section .info svg {
      width: 200px;
      margin: 0 auto;
      fill-opacity: 0;
      transition: fill-opacity 1s; }
    .section .info svg.finished * {
      fill-opacity: 1; }
  .section .info::before {
    bottom: 100%;
    left: 0;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(250, 240, 144, 0);
    border-bottom-color: #faf090;
    border-width: 26px;
    border-left: 0;
    border-right-width: 14px; }
  .section .fp-slidesNav-custom {
    position: relative;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .section .fp-slidesNav-custom ul {
      margin: 0;
      padding: 0; }
    .section .fp-slidesNav-custom .btn {
      background-color: #3f3d3f;
      border: none;
      color: #666;
      position: relative;
      z-index: 2;
      border-radius: 50%; }
  .section .fp-slidesNav-custom:after {
    position: absolute;
    left: 50%;
    content: "";
    width: 58%;
    height: 4px;
    background-color: #fff;
    transform: translate(-50%, -50%);
    border-radius: 1.25rem;
    z-index: 1; }
  .section .slide .media .media-body h5 {
    font-weight: 600; }

#pagina-1,
#pagina-2,
#pagina-3,
#pagina-4,
#pagina-5,
#pagina-6,
#pagina-7,
#pagina-8 {
  color: #fff; }
  #pagina-1 .dropdown-toggle,
  #pagina-2 .dropdown-toggle,
  #pagina-3 .dropdown-toggle,
  #pagina-4 .dropdown-toggle,
  #pagina-5 .dropdown-toggle,
  #pagina-6 .dropdown-toggle,
  #pagina-7 .dropdown-toggle,
  #pagina-8 .dropdown-toggle {
    text-transform: uppercase;
    font-weight: 600; }

#pagina-1 {
  background-color: #b95ea4; }
  #pagina-1 .dropdown-toggle {
    background-color: #6e2b5f; }

#pagina-2 {
  background-color: #99ad43; }
  #pagina-2 .dropdown-toggle {
    background-color: #55632a; }

#pagina-3 {
  background-color: #e5cb33; }
  #pagina-3 .dropdown-toggle {
    background-color: #94842a; }

#pagina-4 {
  background-color: #eba037; }
  #pagina-4 .dropdown-toggle {
    background-color: #956523; }

#pagina-5 {
  background-color: #2e88c8; }
  #pagina-5 .dropdown-toggle {
    background-color: #0b5680; }

#pagina-6 {
  background-color: #36ad72; }
  #pagina-6 .dropdown-toggle {
    background-color: #086137; }

#pagina-7 {
  background-color: #d35b32; }
  #pagina-7 .dropdown-toggle {
    background-color: #ad3c1e; }

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #08adc1;
  color: #fff;
  width: 100%;
  padding: 8px 0; }
  footer .media img {
    max-width: 30px; }
  footer .media .media-body h5 {
    margin-bottom: 0; }
  footer .list-inline {
    margin-bottom: 0; }
    footer .list-inline .list-inline-item img {
      width: 39px; }

@media all and (max-width: 991.98px) and (orientation: landscape) {
  body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    body .msge {
      display: block;
      color: #000;
      position: relative;
      z-index: 9999; }

  body > *,
  .navbar {
    display: none; } }
@media only screen and (device-width: 1024px) and (orientation: landscape) {
  body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    body .msge {
      display: block;
      color: #000;
      position: relative;
      z-index: 9999; }

  body > *,
  .navbar {
    display: none; } }
@media only screen and (device-width: 1366px) and (orientation: landscape) {
  body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    body .msge {
      display: block;
      color: #000;
      position: relative;
      z-index: 9999; }

  body > *,
  .navbar {
    display: none; } }
@media (min-width: 768px) {
  footer .list-inline .list-inline-item img {
    width: 56px; } }
@media (min-width: 992px) {
  #portada {
    padding-top: 0 !important; }

  .section .fp-slidesNav-custom:after {
    width: 16%; }

  footer .list-inline .list-inline-item img {
    width: 56px; } }

/*# sourceMappingURL=styles.css.map */
