@import "fonts";

html {
    height: 100%;
}

body {
    background: linear-gradient(to bottom, #bff2ff 0%, #fdffff 100%);
}

h1,
h2,
h3 {
    font-family: "Amatic-Bold", sans-serif;
}

.navbar {
    background-color: transparent;
    text-transform: uppercase;
}

#portada {
    .container-fluid {
        height: 100%;
    }

    .circulo,
    .mano {
        width: 100%;
        float: left;
    }

    .contenedor-circulo {
        margin-bottom: 50px;

        .elemento {
            position: absolute;
            opacity: 0;
            z-index: 1;
        }

        #porciones {
            position: relative;
            z-index: 2;
            opacity: 0;
        }
        
        #queso {
            top: -12%;
            right: 22%;
        }
        
        #miel {
            top: 3%;
            left: 4%;
        }
        
        #banana {
            top: 12%;
            right: 18%;
        }
        
        #pan {
            top: 23%;
            left: 14%;
        }
        
        #brocoli {
            left: 30%;
            top: 50%;
        }
        
        #pescado {
            top: 58%;
            right: 21%;
            width: 32%;
        }
    }

    .mano {
        #mano {
            opacity: 0;
        }
    }
}

#pagina-1,
#pagina-2,
#pagina-3,
#pagina-4,
#pagina-5,
#pagina-6,
#pagina-7,
#pagina-8 {
    #dropdown1,
    #dropdown2,
    #dropdown3,
    #dropdown4,
    #dropdown5,
    #dropdown6,
    #dropdown7,
    #dropdown8,
    .dropdown-menu {
        width: 100%;
        position: relative;
    }
    
    #dropdown1::after,
    #dropdown2:after,
    #dropdown3:after,
    #dropdown4:after,
    #dropdown5:after,
    #dropdown6:after,
    #dropdown7:after,
    #dropdown8:after {
        position: absolute;
        right: 16px;
        top: 16px;
    }

    .info {
        background-color: #fff;
        width: 100%;
        float: left;
        margin: 15px 0;
    }
}