@font-face {
  font-family: 'Amatic-Bold';
  src: url("../fonts/Amatic-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Amatic-Bold.woff") format("woff"), url("../fonts/Amatic-Bold.ttf") format("truetype"), url("../fonts/Amatic-Bold.svg#Amatic-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  height: 100%; }

body {
  background: linear-gradient(to bottom, #bff2ff 0%, #fdffff 100%); }

h1,
h2,
h3 {
  font-family: "Amatic-Bold", sans-serif; }

.navbar {
  background-color: transparent;
  text-transform: uppercase; }

#portada .container-fluid {
  height: 100%; }
#portada .circulo,
#portada .mano {
  width: 100%;
  float: left; }
#portada .contenedor-circulo {
  margin-bottom: 50px; }
  #portada .contenedor-circulo .elemento {
    position: absolute;
    opacity: 0;
    z-index: 1; }
  #portada .contenedor-circulo #porciones {
    position: relative;
    z-index: 2;
    opacity: 0; }
  #portada .contenedor-circulo #queso {
    top: -12%;
    right: 22%; }
  #portada .contenedor-circulo #miel {
    top: 3%;
    left: 4%; }
  #portada .contenedor-circulo #banana {
    top: 12%;
    right: 18%; }
  #portada .contenedor-circulo #pan {
    top: 23%;
    left: 14%; }
  #portada .contenedor-circulo #brocoli {
    left: 30%;
    top: 50%; }
  #portada .contenedor-circulo #pescado {
    top: 58%;
    right: 21%;
    width: 32%; }
#portada .mano #mano {
  opacity: 0; }

#pagina-1 #dropdown1,
#pagina-1 #dropdown2,
#pagina-1 #dropdown3,
#pagina-1 #dropdown4,
#pagina-1 #dropdown5,
#pagina-1 #dropdown6,
#pagina-1 #dropdown7,
#pagina-1 #dropdown8,
#pagina-1 .dropdown-menu,
#pagina-2 #dropdown1,
#pagina-2 #dropdown2,
#pagina-2 #dropdown3,
#pagina-2 #dropdown4,
#pagina-2 #dropdown5,
#pagina-2 #dropdown6,
#pagina-2 #dropdown7,
#pagina-2 #dropdown8,
#pagina-2 .dropdown-menu,
#pagina-3 #dropdown1,
#pagina-3 #dropdown2,
#pagina-3 #dropdown3,
#pagina-3 #dropdown4,
#pagina-3 #dropdown5,
#pagina-3 #dropdown6,
#pagina-3 #dropdown7,
#pagina-3 #dropdown8,
#pagina-3 .dropdown-menu,
#pagina-4 #dropdown1,
#pagina-4 #dropdown2,
#pagina-4 #dropdown3,
#pagina-4 #dropdown4,
#pagina-4 #dropdown5,
#pagina-4 #dropdown6,
#pagina-4 #dropdown7,
#pagina-4 #dropdown8,
#pagina-4 .dropdown-menu,
#pagina-5 #dropdown1,
#pagina-5 #dropdown2,
#pagina-5 #dropdown3,
#pagina-5 #dropdown4,
#pagina-5 #dropdown5,
#pagina-5 #dropdown6,
#pagina-5 #dropdown7,
#pagina-5 #dropdown8,
#pagina-5 .dropdown-menu,
#pagina-6 #dropdown1,
#pagina-6 #dropdown2,
#pagina-6 #dropdown3,
#pagina-6 #dropdown4,
#pagina-6 #dropdown5,
#pagina-6 #dropdown6,
#pagina-6 #dropdown7,
#pagina-6 #dropdown8,
#pagina-6 .dropdown-menu,
#pagina-7 #dropdown1,
#pagina-7 #dropdown2,
#pagina-7 #dropdown3,
#pagina-7 #dropdown4,
#pagina-7 #dropdown5,
#pagina-7 #dropdown6,
#pagina-7 #dropdown7,
#pagina-7 #dropdown8,
#pagina-7 .dropdown-menu,
#pagina-8 #dropdown1,
#pagina-8 #dropdown2,
#pagina-8 #dropdown3,
#pagina-8 #dropdown4,
#pagina-8 #dropdown5,
#pagina-8 #dropdown6,
#pagina-8 #dropdown7,
#pagina-8 #dropdown8,
#pagina-8 .dropdown-menu {
  width: 100%;
  position: relative; }
#pagina-1 #dropdown1::after,
#pagina-1 #dropdown2:after,
#pagina-1 #dropdown3:after,
#pagina-1 #dropdown4:after,
#pagina-1 #dropdown5:after,
#pagina-1 #dropdown6:after,
#pagina-1 #dropdown7:after,
#pagina-1 #dropdown8:after,
#pagina-2 #dropdown1::after,
#pagina-2 #dropdown2:after,
#pagina-2 #dropdown3:after,
#pagina-2 #dropdown4:after,
#pagina-2 #dropdown5:after,
#pagina-2 #dropdown6:after,
#pagina-2 #dropdown7:after,
#pagina-2 #dropdown8:after,
#pagina-3 #dropdown1::after,
#pagina-3 #dropdown2:after,
#pagina-3 #dropdown3:after,
#pagina-3 #dropdown4:after,
#pagina-3 #dropdown5:after,
#pagina-3 #dropdown6:after,
#pagina-3 #dropdown7:after,
#pagina-3 #dropdown8:after,
#pagina-4 #dropdown1::after,
#pagina-4 #dropdown2:after,
#pagina-4 #dropdown3:after,
#pagina-4 #dropdown4:after,
#pagina-4 #dropdown5:after,
#pagina-4 #dropdown6:after,
#pagina-4 #dropdown7:after,
#pagina-4 #dropdown8:after,
#pagina-5 #dropdown1::after,
#pagina-5 #dropdown2:after,
#pagina-5 #dropdown3:after,
#pagina-5 #dropdown4:after,
#pagina-5 #dropdown5:after,
#pagina-5 #dropdown6:after,
#pagina-5 #dropdown7:after,
#pagina-5 #dropdown8:after,
#pagina-6 #dropdown1::after,
#pagina-6 #dropdown2:after,
#pagina-6 #dropdown3:after,
#pagina-6 #dropdown4:after,
#pagina-6 #dropdown5:after,
#pagina-6 #dropdown6:after,
#pagina-6 #dropdown7:after,
#pagina-6 #dropdown8:after,
#pagina-7 #dropdown1::after,
#pagina-7 #dropdown2:after,
#pagina-7 #dropdown3:after,
#pagina-7 #dropdown4:after,
#pagina-7 #dropdown5:after,
#pagina-7 #dropdown6:after,
#pagina-7 #dropdown7:after,
#pagina-7 #dropdown8:after,
#pagina-8 #dropdown1::after,
#pagina-8 #dropdown2:after,
#pagina-8 #dropdown3:after,
#pagina-8 #dropdown4:after,
#pagina-8 #dropdown5:after,
#pagina-8 #dropdown6:after,
#pagina-8 #dropdown7:after,
#pagina-8 #dropdown8:after {
  position: absolute;
  right: 16px;
  top: 16px; }
#pagina-1 .info,
#pagina-2 .info,
#pagina-3 .info,
#pagina-4 .info,
#pagina-5 .info,
#pagina-6 .info,
#pagina-7 .info,
#pagina-8 .info {
  background-color: #fff;
  width: 100%;
  float: left;
  margin: 15px 0; }

/*# sourceMappingURL=styles.css.map */
