@media (min-width: 768px) {
    .navbar {
        font-size: 0.92rem;
    }

    #intro-id {
        .btn-primary {
            font-size: 1.25rem;
        }
    }

    #pagina-1,
    #pagina-2,
    #pagina-3,
    #pagina-4,
    #pagina-5,
    #pagina-6,
    #pagina-7,
    #pagina-8 {
        padding-top: 80px !important;
    }

    footer {
        .list-inline {
            .list-inline-item {
                img {
                    width: 56px;
                }
            }
        }
    }
}