@media (min-width: 768px) {
    .navbar {
        font-size: 0.92rem;
    }

     #learn-more {
        #logo-jc-cm {
            max-width: 100%;
        }
    }

    .section {
        h1,
        h2 {
            display: inline-block;
            font-size: 1.3rem;
        }

        .fp-slidesNav-custom:after {
            width: 24%;
        }
    }

    #pagina-1,
    #pagina-2,
    #pagina-3,
    #pagina-4,
    #pagina-5,
    #pagina-6,
    #pagina-7,
    #pagina-8 {
        padding-top: 80px !important;
    }

    footer {
        .list-inline {
            .list-inline-item {
                img {
                    width: 56px;
                }
            }
        }
    }
}